{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialect Decoded</title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/dialect.css' %}">


    <div class="dialectintro">
    <header>
        <h1>Dialect Decoded</h1>
    </header>
    <main>
        <p>Dialect Decoded represents a comprehensive endeavor in the field of statistical analysis, specifically targeting the precision evaluation of five leading translation platforms across three distinct languages: English, Marathi, and Hindi. This meticulous examination aims to provide insights into the effectiveness and accuracy of these platforms in translating content across linguistic boundaries. By employing rigorous statistical methodologies and a meticulously curated dataset, this study delves deep into the nuances of translation precision, shedding light on potential areas of improvement and comparative strengths among the platforms. Furthermore, the findings of this analysis hold significant implications for the advancement of language technology and the enhancement of cross-linguistic communication.</p>
        </div>

        <div class="dialectdecodedstack">
            <div class="row">
                <h3>Backend</h3>
                <ul>
                    <li>Python</li>
                    <li>R Software</li>
                    <li>Microsoft Excel</li>
                </ul>
            </div>
            <div class="row">
                <h3>Statistical Methodologies</h3>
                <ul>
                    <li>Box-Cox Method</li>
                    <li>Completely Randomized Design (CRD)</li>
                    <li>Fisher's Exact Test</li>
                    <li>Pareto (80-20) Principle</li>
                </ul>
            </div>
            <div class="row">
                <h3>Translators</h3>
                <ul>
                    <li>Google</li>
                    <li>Microsoft Bing</li>
                    <li>Yandex</li>
                    <li>Lingnavex</li>
                    <li>Translateking</li>
                </ul>
            </div>
        </div>
        