{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="#">Home</a>
            <a href="#experience">Experience</a>
            <a href="#myskills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#blogs">Blogs</a>
            <a href="#contact">Contact</a>
        </div>
        
    </div>


    <h1>Hi there, I'm Sourabh.<br>
        Software <span class="developer">Developer</span>,<br>
        Learner and an Avid Reader
    </h1>


    <div class="image-container">
        <img src="{% static 'images/myphoto.png' %}" alt="Your Image">
    </div>


    <div class="intro">
        <p>
            I've graduated from Pune University with a <span class="highlight">Statistics</span> Major.
        </p>
        <p>
            Several years ago, I wanted to build my first web application. I had been doing
            light web development work (landing pages, contact forms) for a while, and
            wanted to see if I could build something more interactive. That's when I came across Python and its powerful frameworks that <span class="highlight">hooked me into development.</span>
        </p>
        <p>
            As I've grown as a developer, I've worked with senior developers who have raised my standards for what's expected of any web application.
        </p>
        <p>
            Through these experiences, I've had the opportunity to create memorable products that are not only enjoyable to use but are <span class="highlight">written in code that's maintainable and easy to understand.</span>
        </p>
        </div>

        <div id="experience" class="experience">
            <h2>Experience</h2>
            <div class="experience-entry">
                <h3>Machine Learning Intern at YHWorks</h3>
                
                <p>Developed a <span class="highlight">color detection system</span> using Python, <span class="highlight">OpenCV</span>, and <span class="highlight">k-means</span> clustering algorithm achieving an accuracy rate of over <span class="highlight">95%</span>.</p>
                <p>Used Python’s OpenCV to <span class="highlight">preprocess images</span>, extracting pixel RGB values to accurately identify and extract dominant colors, resulting in <span class="highlight">processing speed improvement</span> of more than <span class="highlight">50%</span>.</p>
                <p>Took charge of <span class="highlight">integrating</span> the color detection system seamlessly into a <span class="highlight">web application</span> using <span class="highlight">Django</span> framework, resulting in <span class="highlight">40%</span> reduction in processing time.</p>
            </div>
        </div>
        

        <div id="myskills" class="skills">
            <h2><span class="myskills">My Skills</span></h2>
            
            <div class="skillintro">
            <p>Throughout my academic and professional journey, I have actively engaged in various projects and initiatives, which have significantly contributed to my development as a software developer. </p>
            <p>Additionally, I devote time to practicing competitive programming on platforms such as <span class="highlight">LeetCode</span>. This not only sharpens my <span class="highlight">algorithmic thinking</span>  but also enhances my ability to <span class="highlight">tackle complex problems efficiently.</span></p>
            Overall, my combined experiences in project work and competitive programming have been instrumental in shaping my skills as a developer.
            </div>
            <div class="category">
                <h3>Programming Languages</h3>
                <ul>
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>MySQL</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
        
            <div class="category">
                <h3>Frameworks</h3>
                <ul>
                    <li>Django (ORM | Extensions)</li>
                    <li>REST</li>
                    <li>Numpy</li>
                    <li>Flask</li>
                    <li>Pandas</li>
                </ul>
            </div>
        
            <div class="category">
                <h3>DevOps</h3>
                <ul>
                    <li>Docker</li>
                    <li>Git</li>
                    <li>Github</li>
                    <li>Gunicorn</li>
                    <li>Whitenoise</li>
                </ul>
            </div>
        
            <div class="category">
                <h3>Coursework</h3>
                <ul>
                    <li>Data Structures and Algorithms</li>
                    <li>Machine Learning</li>
                    <li>AI</li>
                    <li>System Design</li>
                    <li>Statistics</li>
                </ul>
            </div>

            <div class="category">
                <h3>Cloud</h3>
                <ul>
                    <li>PythonAnywhere</li>
                    <li>Heroku</li>
                    <li>Render</li>
                    
                </ul>
                
            </div>
        </div>
        
    <div>



       
    </div>
</body>
</html>

<div id="projects" class="projects">
    <h2>What I've been working on!</h2>
</div>

<div class="projectsintro">
   <p>I like to <span class="highlight">stay busy</span> and always have a project in the works.<br>
  Take a look at some of the <span class="highlight">applications</span>, <span class="highlight"> articles</span>, and <span class="highlight"> blogs</span> I've dedicated my time to.</p>
  
</div>

<div id="projects1" class="projects1">
    
    {% for project in projects %}
    <div class="project-item">
        <img src="{{ project.image.url }}" alt="{{ project.title }}">
        <div class="project-details">
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            <a href="{% url 'project_detail' project.id %}"><button>View Project</button></a>

            

        </div>
    </div>
    {% endfor %}
</div>


<div id="blogs" class="blogimage">
    <h2>Blogs</h2>
    <img src="{% static 'images/blog.png' %}" alt="python">
    
 </div>

 <div class="blogsintro">
   <p>Blogging is a  Great Way to Share Your <span class="highlight">Learnings.</span>
   </p>
   <p>Check out few of my Blogs that I have dedicated my Time to! </p>
 </div>


