<!-- wormyreads_detail.html -->
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/wormyreads.css' %}">
</head>

<div class="project-detail">
    <h2>{{ project.title }}</h2>
</div>

<div class="wormyreadsintro">
    <p>WormyReads is a <span class="highlight">Django application</span> built for book enthusiasts, aiming to provide 
        comprehensive information about individual books in a <span class="highlight">user-friendly manner</span>.
     I've built this project  from<span class="highlight"> scratch</span> with Python's Django Framework, Javascript, and HTML/CSS.
     This <span class="highlight">Reading Recommendation Service</span> application required a lot of heavy lifting
     to create a personalized experience, facilitated by features such as <span class="highlight">wishlists</span>, personalized login details, and a user-friendly interface for <span class="highlight"> easy browsing</span>.
    </p>
</div>

<div class="wormyreadsstack">
    <div class="row">
        <h3>Backend</h3>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>Django REST Framework</li>
            <li>Django-Extensions</li>
        </ul>
    </div>
    <div class="row">
        <h3>Frontend</h3>
        <ul>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
    </div>
    <div class="row">
        <h3>Database</h3>
        <ul>
            <li>PostgreSQL</li>
        </ul>
    </div>
    <div class="row">
        <h3>Live</h3>
        <a href="https://wormyreads.onrender.com" target="_blank">View Site</a>
    </div>
</div>

<div class="projectimage1"></div>
<img src="{{ project.image.url }}" alt="{{ project.title }}"></div>


<div class ="goal">
<h4>Project Purpose and Goal</h4>
<p>This project included three main phases and iterations of the site. The Phase 1 involved setting up foundational elements such as user authentication, login, logout, and account management functionalities to establish a 
    secure and personalized user experience. In Phase 2, the focus shifted towards 
    expanding the platform by integrating a comprehensive book catalogue, 
    allowing users to explore and discover a wide range of books conveniently. 
    Lastly, Phase 3 centered on the development and implementation of a sophisticated
     wishlist feature tailored to individual user accounts, providing a unique and
      personalized browsing and saving experience. </p>
      
     <p> I found that the most effective
       approach to implementing these three phases was to utilize a systematic 
       and iterative process, leveraging feature flags to dynamically control and render the evolving functionalities of the platform based on the current development stage.</p></div>

<div class ="web">
    <h4>Web Stack and Explanation</h4>
    <p>The Wormyreads project progressed through three distinct phases, each pivotal in enhancing the platform's functionality. Initially, the focus was on implementing fundamental user authentication features, enabling seamless registration, login, and logout processes. Following this, the project expanded to integrate a comprehensive book catalog, offering users a diverse selection to explore. Finally, in the third phase, a sophisticated wishlist feature was introduced, allowing users to curate personalized lists of desired books.</p>

        <p>Throughout the development journey, each phase was meticulously executed to ensure smooth integration and user interaction. Leveraging Python, Django, JavaScript, and related technologies, the project achieved robust functionality and scalability. PostgreSQL served as the backbone for efficient data management, supporting seamless storage and retrieval of user information. The iterative approach aimed to enhance user engagement and satisfaction, delivering a user-friendly reading recommendation service tailored to diverse preferences.</p>
</div>


<div class="logoimages">
            <img src="{% static 'images/python.png' %}" alt="python">
            <img src="{% static 'images/javascript.png' %}" alt="JavaScript">
            <img src="{% static 'images/html.png' %}" alt="html">
            <img src="{% static 'images/css.png' %}" alt="css">
         </div>
    


         <div class="projectimages">
   
            <img src="{% static 'images/genre1.png' %}" class="genre1" alt="genre1">
            <img src="{% static 'images/genre2.png' %}" class="genre1" alt="genre2">
        </div>
       


        <div class="problems-container">
    <div class="problemss">
                <h2>Problems and Thought Process</h2>
                <p>Like most projects, I ran into a few bumps along the way. One particularly
                     difficult area was the organization and structure of the code because of 
                     the project's size. I realized how important maintaining an organized structure would be.</p>
                <p>I worked hard to keep components as reusable as possible and utilized props 
                    for many slight variations. I also used styled-components because the 
                    structure of the CSS-in-JS is much clearer and prevents overrides.</p>
            </div>
        </div>
        
        <div class="jeff">

            <img src="{% static 'images/bookphoto.png' %}"  alt="bookphoto">

        </div>


        <div class="lessons">
            <h2>Lessons Learned</h2>
            <p>
                I could spend all day describing the lessons that I learned while working on this project, but the most important ones involved my newfound understanding of RestAPI’s, Git management, Feature Keys, and API integration. As my first large project using Django, I learned a lot of lessons regarding code structure and organization. When I first began, I would write sloppy code and move on, but now I know how doing so can come back to bite you; I now spend a lot more time refactoring and improving every line I code I write, for the best readability and far fewer headaches.
            </p>
        </div>
        
