body {
    background-color: #f0f0f0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.project-detail h2 {
    font-size: 44px; 
    margin-top: 65px;
    margin-left: 80px;
}


.wormyreadsintro {
    width: 80%;
    margin: 0 auto; 
    line-height: 1.5; 
    max-width: 900px; 
    text-align: justify; 
    margin-top: 70px;
    color: #4e4343;
    margin-left: 80px;
}

.wormyreadsstack {
    display: flex;
   margin-left: 80px;
   margin-top: 70px;
   max-width: 65%;
}

.wormyreadsstack .row {
    flex: 1;
    margin-right: 20px;
}

.wormyreadsstack h3 {
    color: #000;
}

.wormyreadsstack ul {
    list-style-type: none;
    padding-left: 0;
}

.wormyreadsstack ul li {
    margin-bottom: 10px;
}

.project-detail img {
    display: block; /* Ensures the image is centered */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 100%; /* Ensures the image does not exceed its container width */
    height: auto; /* Allows the image to scale proportionally */
    max-height: 600px; /* Sets the maximum height of the image */
    margin-top: 70px;
    border-radius: 10px; /* Adds curved edges */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 32); /* Increased shadow effect */
}
.highlight {
    color: #3498db; /* Define the color for highlighted words */
}

.goal {
    margin: 0 auto;
    max-width: 900px; /* Maximum width of the sections */
    text-align: justify; /* Justify text for a more formal appearance */
    color: #4e4343;
    margin-top: 70px;
    margin-bottom: 50px; /* Adjust as needed */
    padding: 0 80px; /* Add padding to match the margin */
    text-align: left;
    margin-left: 4px;
    line-height: 1.5; 
    float: left;
}


.web {
    margin: 0 auto;
    max-width: 900px; /* Maximum width of the sections */
    text-align: justify; /* Justify text for a more formal appearance */
    color: #4e4343;
    margin-top: 70px;
    margin-bottom: 50px; /* Adjust as needed */
    padding: 0 80px; /* Add padding to match the margin */
    text-align: left;
    float: right;
    margin-right: -13px;
    line-height: 1.5; 

}
.goal h4,
.web h4 {
    color: black; /* Set the color of the h4 elements to black */
}


.logoimages {
    max-width: 1000px; /* Adjust as needed */
    margin: 0 auto;
    margin-top: 580px;
    margin-left: 150px;
}

.logoimages img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure each image is displayed as a block element */
    margin-bottom: 20px; /* Add space between each logo image */
    transition: box-shadow 0.3s, border 0.3s; /* Smooth transition effect */
    background-color: transparent; /* Set background color to transparent */
    padding: 8px;
    transition: box-shadow 0.3s, border 0.3s; /* Smooth transition effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Very light shadow */
    border: 1px solid transparent;

}

.logoimages img:hover {
    border-color: rgba(0, 0, 0, 0.1); /* Change the border color on hover */
}


.projectimages img {
    display: inline-block; /* Display images as inline-block to allow side by side */
    max-width: 100%; /* Ensures the image does not ebjkbxceed its container width */
    max-height: 1900px; /* Sets the maximum height of the image */
    border-radius: 10px; /* Adds curved edges */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.32); /* Increased shadow effect */
    margin-top: 70px;
    }


.genre1,
.genre2 {
    width: 41%; /* Set width to 40% to fit side by side */
}

.genre1 {
    margin-right: 10px; /* Add space to the right of the first image */
    float: left;
    margin-left: 72px;
}

.genre2 {
    margin-left: 10px; /* Add space to the left of the second image */
    float: right;
}




.problems-container {
    float: none; /* Float the problem container to the left */
    width: 50%; /* Set the width to 50% to allow space for the images */
    text-align: center;
    margin-top: 618px;
    margin-left: 330px;
    color: #4e4343;
   
}

.problems-container h2{
    color: #000;
}
.problemss {
    clear: both; /* Clear the floats to prevent text from wrapping around images */
}



.jeff img {
    display: block; /* Ensures the image is centered */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 100%; /* Ensures the image does not exceed its container width */
    height: auto; /* Allows the image to scale proportionally */
    max-height: 600px; /* Sets the maximum height of the image */
    margin-top: 70px;
    border-radius: 10px; /* Adds curved edges */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 32); /* Increased shadow effect */
}



.lessons {
    margin: 0 auto;
    max-width: 900px; /* Maximum width of the sections */
    text-align: justify; /* Justify text for a more formal appearance */
    color: #4e4343;
    margin-top: 70px;
    margin-bottom: 50px; /* Adjust as needed */
    padding: 0 80px; /* Add padding to match the margin */
    text-align: left;
    margin-left: 4px;
    line-height: 1.5; 
    float: left;
}

.lessons h2{
    color: #000;
}