body {
    background-color: #f0f0f0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.dialectintro h1 {
    font-size: 44px; 
    color: #000;

}


.dialectintro {
    width: 80%;
    margin: 0 auto; 
    line-height: 1.5; 
    max-width: 900px; 
    text-align: justify; 
    margin-top: 70px;
    color: #4e4343;
    margin-left: 80px;
}

.dialectdecodedstack {
    display: flex;
   margin-left: 80px;
   margin-top: 70px;
   max-width: 65%;
}

.dialectdecodedstack .row {
    flex: 1;
}

.dialectdecodedstack h3 {
    color: #000;
}


.dialectdecodedstack ul {
    list-style-type: none;
    padding-left: 0;
}

.dialectdecodedstack ul li {
    margin-bottom: 10px;
}


.dialectimage img {
    display: block; /* Ensures the image is centered */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 100%; /* Ensures the image does not exceed its container width */
    height: auto; /* Allows the image to scale proportionally */
    max-height: 600px; /* Sets the maximum height of the image */
    margin-top: 70px;
    border-radius: 10px; /* Adds curved edges */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 32); /* Increased shadow effect */
}


.project-purpose {
    margin: 0 auto;
    max-width: 900px; /* Maximum width of the sections */
    text-align: justify; /* Justify text for a more formal appearance */
    color: #4e4343;
    margin-top: 70px;
    margin-bottom: 50px; /* Adjust as needed */
    padding: 0 80px; /* Add padding to match the margin */
    text-align: left;
    margin-left: 4px;
    line-height: 1.5; 
    float: left;
}


.dialect-stack-explanation {
    margin: 0 auto;
    max-width: 900px; /* Maximum width of the sections */
    text-align: justify; /* Justify text for a more formal appearance */
    color: #4e4343;
    margin-top: 70px;
    margin-bottom: 50px; /* Adjust as needed */
    padding: 0 80px; /* Add padding to match the margin */
    text-align: left;
    float: right;
    margin-right: -13px;
    line-height: 1.5; 

}
.project-purpose,
.dialect-stack-explanation {
    color: black; /* Set the color of the h4 elements to black */
}



.logoimages {
    max-width: 1000px; /* Adjust as needed */
    margin: 0 auto;
    margin-top: 680px;
    margin-left: 150px;
}

.logoimages img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure each image is displayed as a block element */
    margin-bottom: 20px; /* Add space between each logo image */
    transition: box-shadow 0.3s, border 0.3s; /* Smooth transition effect */
    background-color: transparent; /* Set background color to transparent */
    padding: 8px;
    transition: box-shadow 0.3s, border 0.3s; /* Smooth transition effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Very light shadow */
    border: 1px solid transparent;

}

.logoimages img:hover {
    border-color: rgba(0, 0, 0, 0.1); /* Change the border color on hover */
}


.projectimages img {
    display: inline-block; /* Display images as inline-block to allow side by side */
    max-width: 100%; /* Ensures the image does not ebjkbxceed its container width */
    max-height: 1900px; /* Sets the maximum height of the image */
    border-radius: 10px; /* Adds curved edges */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.32); /* Increased shadow effect */
    margin-top: 70px;
    }


    .projectimages img {
        display: inline-block; /* Display images as inline-block to allow side by side */
        max-width: 100%; /* Ensures the image does not ebjkbxceed its container width */
        max-height: 1900px; /* Sets the maximum height of the image */
        border-radius: 10px; /* Adds curved edges */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.32); /* Increased shadow effect */
        margin-top: 70px;
        }
    
    
    .genre1,
    .genre2 {
        width: 42%; /* Set width to 40% to fit side by side */
    }
    
    .genre1 {
        margin-right: 10px; /* Add space to the right of the first image */
        float: left;
        margin-left: 72px;
    }
    
    .genre2 {
        margin-left: 10px; /* Add space to the left of the second image */
        float: right;
    }
    



.problems-container h2{
    color: #000;
}
.problemss {
    clear: both; /* Clear the floats to prevent text from wrapping around images */
}
    

.problems-container  {
    margin: 0 auto;
    max-width: 900px; /* Maximum width of the sections */
    text-align: justify; /* Justify text for a more formal appearance */
    color: #4e4343;
    margin-top: 70px;
    margin-bottom: 50px; /* Adjust as needed */
    padding: 0 80px; /* Add padding to match the margin */
    text-align: left;
    margin-left: 4px;
    line-height: 1.5; 
    float: left;
}

.lessons h2{
    color: #000;
}
    

.lessons {
    margin: 0 auto;
    max-width: 900px; /* Maximum width of the sections */
    text-align: justify; /* Justify text for a more formal appearance */
    color: #4e4343;
    margin-top: 10px;
    margin-bottom: 20px; /* Adjust as needed */
    padding: 0 80px; /* Add padding to match the margin */
    text-align: left;
    margin-left: 4px;
    line-height: 1.5; 
    float: right;
}

.lessons h2{
    color: #000;
}